  <h1>Please select a game to edit</h1>
  <section class='home'>
    {{#games}}

      <div class="home-games">

        <div class="">
          <!-- <a href="/edit/{{id}}">{{title}}</a> -->
          <h1>{{title}}</h1>
        </div>

        <div class="image-div">
          <a href="/edit/{{id}}"><img class'image' src='{{image}}' alt=""></a>
          <!-- <img class'image' src='{{image}}' alt=""> -->
        </div>

        <div class="">
          <p>release date:</p>
          <h3>{{release}}</h3>
        </div>
        <!-- <form class="" action="/edit" method="post">
             <button type="submit" value="{{id}}" name="edit">edit</button>
        </form> -->
        <a href="/edit/{{_id}}"><button type="button" name="button">Edit</button></a>
        <p>id= {{_id}}</p>
      </div>
    {{/games}}

  </section>
