  <h1>Please select a game to edit</h1>
  <section class='home'>
    {{#games}}

      <div class="home-games">

        <div class="">
          <h1>{{title}}</h1>
        </div>

        <div class="image-div">
          <a href="/edit/{{id}}"><img class'image' src='{{image}}' alt=""></a>
        </div>

        <div class="">
          <p>release date:</p>
          <h3>{{release}}</h3>
        </div>

        <a href="/edit/{{_id}}"><button type="button" name="button">Edit</button></a>
      </div>
    {{/games}}

  </section>
