{{#game}}
<form class="" action="/edit/{{_id}}" method="post">
  <div class="edit">
    <br>
    <br>
    <input type="text" name="editTitle" value="{{title}}" ><br>
    <input type="text" name="editImage" value="{{image}}"><br>
    <input type="text" name="editRelease" value="{{release}}"><br>
    <div class="">
      <input type="radio" name="platform" value="xbox">xbox
      <input type="radio" name="platform" value="playstation">playstation
      <input type="radio" name="platform" value="nintendo">nintendo
      <input type="radio" name="platform" value="other">other
    </div>
    <br>
    <br>
    <input type="submit" name="edit" value="Edit game">
  </div>
</form>
{{/game}}
