
  <section class='home'>

    {{#games}}

      <div class="home-games">

        <div class="">
          <h1>{{title}}</h1>
        </div>

        <div class="image-div">
          <a href="/edit/{{_id}}"><img class'image' src='{{image}}'></a>

        </div>

        <div class="">
          <p>release date:</p>
          <h3>{{release}}</h3>
        </div>

      </div>
    {{/games}}

  </section>
